body
{
    font-family: sans-serif;
    line-height: 1.6;
    margin: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 100%;
}

a
{
    display: inline-block;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}