body
    line-height 1.6

button:focus, input:focus, select:focus, textarea:focus
    outline none

a, button
    font-color inherit

a
    text-decoration none

a, button, div, input
    border-style solid

button, input, textarea
    font-family inherit

svg
    height 100%

input, textarea
    border 0
    outline 0
    overflow auto
    resize false

p
    font-size 16px

    a
        text-decoration underline

.inline-block-container
    font-size 0

    & > *
        display inline-block
        vertical-align top

.inline-block-container
    text-align center

.inline-block-content
    display inline-block

button
    transition background-color .25s, color .25s
    padding 0

    &:hover
        background-color transparent
        cursor pointer

    a
        display block
        height 100%
        width 100%
        z 2

.curtain
    height 100%
    left 0
    position absolute
    top 0
    width 100%

.background-image
    background-size cover
    background-repeat no-repeat

strong
    font-weight 700

input[type=number]
    appearance textfield
    text-align center

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
        appearance none
        margin 0

.circle
    border-radius 50%

.no-selection
    user-select false
