name: CI

on:
    pull_request:
        branches:
            - 'master'

jobs:
    prepare:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js 24.x
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x

            - name: Install dependencies
              run: npm ci

    build:
        runs-on: ubuntu-latest
        needs: prepare

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - uses: ./.github/actions/prepare-npm-job

            - name: Build project
              run: npm run build

    format-check:
        runs-on: ubuntu-latest
        needs: prepare

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - uses: ./.github/actions/prepare-npm-job

            - name: Check code format
              run: npm run format:check

    lint:
        runs-on: ubuntu-latest
        needs: prepare

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - uses: ./.github/actions/prepare-npm-job

            - name: Run linter
              run: npm run lint

    type-check:
        runs-on: ubuntu-latest
        needs: prepare

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - uses: ./.github/actions/prepare-npm-job

            - name: Check types
              run: npm run type-check

    test:
        runs-on: ubuntu-latest
        needs: prepare

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - uses: ./.github/actions/prepare-npm-job

            - name: Run tests
              run: npm run test:coverage
